<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>NodeInfo</title>
</head>
<body>

<p>Node节点CPU信息: </p>
<p>CPU逻辑个数: {{ logicNum }}</p>
<p>CPU物理核心: {{ physicalNum }}</p>

<p>Node节点内存信息: </p>
<p>total: {{ Memtotal }}</p>
<p>available: {{ Memavailable }}</p>
<p>used: {{ Memused }}</p>
<p>percent: {{ Mempercent }}</p>

<p>Node节点磁盘信息: </p>
<p>total: {{ Disktotal }}</p>
<p>available: {{ Diskfree }}</p>
<p>used: {{ Diskused }}</p>
<p>percent: {{ Diskpercent }}</p>

</body>
</html>